Repository satlayer/satlayer-bvs, pull requests merged in 2025-05, with the labels that each got.

#574 feat: publish bvs-* crates
  .github/workflows/release.yml
  crates/Cargo.toml
  crates/bvs-library/package.json
  crates/bvs-pauser/package.json
  crates/bvs-registry/package.json
  crates/bvs-vault-router/package.json
  pnpm-lock.yaml
  turbo.json
Labels: s/feat, a/crates

#577 chore(release): include CARGO_REGISTRY_TOKEN in cargo:publish
  turbo.json
Labels: s/chore

#578 chore(release): add missing description for crates
  crates/bvs-library/Cargo.toml
  crates/bvs-pauser/Cargo.toml
  crates/bvs-registry/Cargo.toml
  crates/bvs-rewards/Cargo.toml
  crates/bvs-vault-bank/Cargo.toml
  crates/bvs-vault-base/Cargo.toml
  crates/bvs-vault-cw20/Cargo.toml
  crates/bvs-vault-factory/Cargo.toml
  crates/bvs-vault-router/Cargo.toml
Labels: s/chore, a/crates

#580 chore(release): cargo publish without verification
  crates/bvs-library/package.json
  crates/bvs-pauser/package.json
  crates/bvs-registry/package.json
  crates/bvs-vault-cw20/src/contract.rs
  crates/bvs-vault-cw20/tests/integration_test.rs
  crates/bvs-vault-router/package.json
  pnpm-lock.yaml
Labels: s/chore, a/crates

#581 chore(release): use 0.0.0-main.run_number for crates release
  .github/workflows/release.yml
Labels: s/chore

#582 chore(release): use cargo hack to publish
  .github/workflows/release.yml
  crates/bvs-library/package.json
  crates/bvs-pauser/package.json
  crates/bvs-registry/package.json
  crates/bvs-vault-router/package.json
  pnpm-lock.yaml
Labels: s/chore, a/crates

#583 chore(release): remove --dry-run
  .github/workflows/release.yml
  crates/Cargo.lock
  crates/bvs-vault-factory/Cargo.toml
Labels: s/chore, a/crates

#568 feat: request slashing
  crates/Cargo.lock
  crates/Cargo.toml
  crates/bvs-library/src/addr.rs
  crates/bvs-registry/src/state.rs
  crates/bvs-vault-router/Cargo.toml
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/error.rs
  crates/bvs-vault-router/src/lib.rs
  crates/bvs-vault-router/src/msg.rs
  crates/bvs-vault-router/src/state.rs
  crates/bvs-vault-router/tests/integration_test.rs
  modules/cosmwasm-schema/vault-router/schema.go
  packages/cosmwasm-schema/vault-router.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#585 chore: remove slashing from vault info
  crates/bvs-vault-bank/src/contract.rs
  crates/bvs-vault-bank/tests/integration_test.rs
  crates/bvs-vault-base/src/msg.rs
  crates/bvs-vault-cw20-tokenized/src/contract.rs
  crates/bvs-vault-cw20-tokenized/tests/integration_test.rs
  crates/bvs-vault-cw20/src/contract.rs
  crates/bvs-vault-cw20/tests/integration_test.rs
  modules/cosmwasm-schema/vault-bank/schema.go
  modules/cosmwasm-schema/vault-cw20-tokenized/schema.go
  modules/cosmwasm-schema/vault-cw20/schema.go
  packages/cosmwasm-schema/vault-bank.d.ts
  packages/cosmwasm-schema/vault-cw20-tokenized.d.ts
  packages/cosmwasm-schema/vault-cw20.d.ts
Labels: s/chore, a/crates, a/modules/cosmwasm-schema

#573 chore: clean up example structure
  .github/actions/setup/action.yml
  .idea/satlayer-bvs.iml
  docs/app/developers/examples/squaring/page.md
  examples/squaring/README.md
  examples/squaring/contract/.dockerignore
  examples/squaring/contract/Cargo.lock
  examples/squaring/contract/Cargo.toml
  examples/squaring/contract/package.json
  examples/squaring/contract/src/bin/schema.rs
  examples/squaring/contract/src/contract.rs
  examples/squaring/contract/src/error.rs
  examples/squaring/contract/src/lib.rs
  examples/squaring/contract/src/msg.rs
  examples/squaring/contract/src/state.rs
  examples/squaring/contract/tests/integration_test.rs
  examples/squaring/squaring-contract/src/contract.rs
  examples/squaring/squaring-contract/src/error.rs
  examples/squaring/squaring-contract/src/msg.rs
  examples/squaring/squaring-contract/src/state.rs
  examples/squaring/squaring-contract/tests/integration_test.rs
  pnpm-lock.yaml
Labels: s/chore, a/examples, a/docs

#588 chore(docs): developer overview and types of service
  docs/app/developers/_meta.ts
  docs/app/developers/cosmwasm/integrating/page.mdx
  docs/app/developers/examples/squaring/page.md
  docs/app/developers/examples/squaring/page.mdx
  docs/app/developers/overview/page.mdx
  docs/app/developers/program-agnostic/page.mdx
  docs/app/getting-started/operators/page.mdx
  docs/app/getting-started/rewards/page.mdx
  docs/app/getting-started/services/page.mdx
  docs/app/getting-started/vaults/page.mdx
  docs/app/page.mdx
  examples/squaring/README.md
  examples/squaring/README.mdx
  examples/squaring/contract/Cargo.lock
  examples/squaring/contract/Cargo.toml
  examples/squaring/contract/package.json
  examples/squaring/contract/src/contract.rs
  examples/squaring/contract/src/msg.rs
  examples/squaring/contract/src/state.rs
  examples/squaring/contract/tests/integration_test.rs
  examples/squaring/modules/README.md
  examples/squaring/modules/development.md
  examples/squaring/modules/go.mod
  examples/squaring/modules/go.sum
  examples/squaring/modules/package.json
  examples/squaring/modules/squaring-contract/schema.go
  examples/squaring/modules/turbo.json
  examples/squaring/service/package.json
  pnpm-lock.yaml
Labels: s/chore, a/examples, a/docs

#589 chore(release): manually order and publish crates
  .github/workflows/release.yml
Labels: s/chore

#590 chore: description for bvs-vault-cw20-tokenized
  crates/Cargo.lock
  crates/bvs-vault-cw20-tokenized/Cargo.toml
Labels: s/chore, a/crates

#591 chore: use `pub(crate)` in `state.rs`
  crates/bvs-pauser/src/state.rs
  crates/bvs-registry/src/state.rs
  crates/bvs-vault-factory/src/state.rs
  crates/bvs-vault-router/src/state.rs
  examples/squaring/contract/src/state.rs
Labels: s/chore, a/crates, a/examples

#593 feat: bvs-multi-test
  .github/workflows/release.yml
  crates/Cargo.lock
  crates/Cargo.toml
  crates/README.md
  crates/bvs-multi-test/Cargo.toml
  crates/bvs-multi-test/README.md
  crates/bvs-multi-test/src/lib.rs
  crates/bvs-vault-cw20-tokenized/README.md
  crates/crates.iml
  docs/app/contracts/_meta.ts
  docs/app/contracts/multi-test/page.md
  docs/app/contracts/vault-cw20-tokenized/page.md
Labels: s/feat, a/crates, a/docs

#595 chore(docs): Integrating with SatLayer
  crates/bvs-registry/README.md
  docs/app/developers/cosmwasm/integrating/page.mdx
  docs/app/developers/examples/_meta.ts
  examples/squaring/README.mdx
  examples/squaring/contract/Cargo.lock
  examples/squaring/contract/Cargo.toml
  examples/squaring/contract/tests/integration_test.rs
Labels: s/chore, a/crates, a/examples, a/docs

#602 chore(docs): program-agnostic docs
  docs/app/developers/overview/page.mdx
  docs/app/developers/program-agnostic/_meta.ts
  docs/app/developers/program-agnostic/go/page.mdx
  docs/app/developers/program-agnostic/javascript/page.mdx
  docs/app/developers/program-agnostic/page.mdx
Labels: s/chore, a/docs

#601 chore: use Timestamp type to compute time
  crates/bvs-vault-bank/src/contract.rs
  crates/bvs-vault-bank/tests/integration_test.rs
  crates/bvs-vault-cw20-tokenized/src/contract.rs
  crates/bvs-vault-cw20-tokenized/tests/integration_test.rs
  crates/bvs-vault-cw20/src/contract.rs
  crates/bvs-vault-cw20/tests/integration_test.rs
Labels: s/chore, a/crates

#603 chore(docs): contract addresses
  crates/README.md
Labels: s/chore, a/crates

#605 chore(docs): missing docs, typo in docs and fix broken links
  crates/bvs-vault-bank-tokenized/README.md
  crates/bvs-vault-bank-tokenized/src/contract.rs
  crates/bvs-vault-bank-tokenized/src/msg.rs
  crates/bvs-vault-bank/src/contract.rs
  crates/bvs-vault-base/src/msg.rs
  crates/bvs-vault-cw20-tokenized/src/contract.rs
  crates/bvs-vault-cw20-tokenized/src/msg.rs
  crates/bvs-vault-cw20/src/contract.rs
  docs/app/contracts/_meta.ts
  docs/app/contracts/vault-bank-tokenized/page.md
  modules/cosmwasm-schema/vault-bank-tokenized/schema.go
  modules/cosmwasm-schema/vault-bank/schema.go
  modules/cosmwasm-schema/vault-cw20-tokenized/schema.go
  modules/cosmwasm-schema/vault-cw20/schema.go
  packages/cosmwasm-schema/vault-bank-tokenized.d.ts
  packages/cosmwasm-schema/vault-bank.d.ts
  packages/cosmwasm-schema/vault-cw20-tokenized.d.ts
  packages/cosmwasm-schema/vault-cw20.d.ts
Labels: s/chore, a/crates, a/docs, a/modules/cosmwasm-schema

#606 chore: remove wip banner
  docs/app/layout.tsx
Labels: s/chore, a/docs

#610 feat: cosmwasm-optimizer
  .github/workflows/ci.yml
  .github/workflows/docker-cache.yml
  .github/workflows/release.yml
  examples/squaring/contract/package.json
  package.json
  packages/cosmwasm-optimizer/README.md
  packages/cosmwasm-optimizer/bin.js
  packages/cosmwasm-optimizer/package.json
  packages/cosmwasm-schema/README.md
  pnpm-lock.yaml
  turbo.json
Labels: s/feat, a/examples

#611 feat: CD workflow for satlayer cli
  .github/workflows/release.yml
  modules/cosmwasm-cli/package.json
  package.json
  packages/cli/.gitignore
  packages/cli/README.md
  packages/cli/package.js
  packages/cli/package.json
  packages/cli/postinstall.js
  packages/cli/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: s/feat

#612 chore(release): set cli release versions manually
  .github/workflows/release.yml
  packages/cli/package.js
Labels: s/chore

#609 chore(examples): squaring contract
  examples/package.json
  examples/squaring/README.mdx
  examples/squaring/contract/src/contract.rs
  examples/squaring/contract/src/msg.rs
  examples/squaring/contract/src/state.rs
  examples/squaring/contract/tests/integration_test.rs
Labels: s/chore, a/examples

#614 chore(release): replace workspace:* versions
  packages/cli/package.js
Labels: s/chore

#615 fix: postinstall cli wrong package
  packages/cli/postinstall.js
Labels: s/fix

#619 feat: @satlayer/testcontainers for nodejs
  .github/dependabot.yml
  examples/squaring/service/package.json
  examples/squaring/service/src/squaring.test.ts
  package.json
  packages/cli/README.md
  packages/cosmwasm-optimizer/package.json
  packages/cosmwasm-schema/package.json
  packages/testcontainers/package.json
  packages/testcontainers/src/index.ts
  packages/testcontainers/src/satlayer.test.ts
  packages/testcontainers/src/satlayer.ts
  packages/testcontainers/tsconfig.json
  pnpm-lock.yaml
Labels: s/feat, a/examples

#621 chore: @satlayer/cli to link with satlayer.js
  packages/cli/README.md
  packages/cli/package.js
  packages/cli/postinstall.js
  packages/cli/satlayer.js
Labels: s/chore

#625 chore: refactor rewards cli
  modules/cosmwasm-cli/cmd/rewards.go
Labels: s/chore

#630 feat: testcontainers basic utility
  examples/squaring/service/src/squaring.test.ts
  packages/testcontainers/package.json
  packages/testcontainers/src/satlayer.test.ts
  packages/testcontainers/src/satlayer.ts
  pnpm-lock.yaml
Labels: s/feat, a/examples

#632 chore: CGO_ENABLED=0 for CLI
  modules/cosmwasm-cli/package.json
Labels: s/chore

#631 feat: bootstrap bvs-contracts in testcontainers
  packages/testcontainers/cw20.wasm
  packages/testcontainers/package.json
  packages/testcontainers/src/container.test.ts
  packages/testcontainers/src/container.ts
  packages/testcontainers/src/deployer.ts
  packages/testcontainers/src/index.ts
  packages/testcontainers/src/satlayer.ts
  pnpm-lock.yaml
Labels: s/feat

#620 feat: rewards docs
  crates/bvs-rewards/README.md
  crates/bvs-rewards/README.mdx
  docs/app/contracts/rewards/page.md
  docs/app/contracts/rewards/page.mdx
  docs/app/getting-started/_meta.ts
  docs/app/getting-started/rewards/page.mdx
  docs/app/page.mdx
Labels: s/feat, a/crates, a/docs

#638 feat: add status to slashing request
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/state.rs
  crates/bvs-vault-router/tests/integration_test.rs
  modules/cosmwasm-schema/vault-router/schema.go
  packages/cosmwasm-schema/vault-router.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#639 chore: improve devex of using testcontainers
  examples/squaring/service/src/squaring.test.ts
  packages/testcontainers/package.json
  packages/testcontainers/src/bvs.ts
  packages/testcontainers/src/container.test.ts
  packages/testcontainers/src/container.ts
  packages/testcontainers/src/cw20.ts
  packages/testcontainers/src/deployer.ts
  packages/testcontainers/src/index.ts
  packages/testcontainers/src/satlayer.test.ts
  packages/testcontainers/src/satlayer.ts
  packages/testcontainers/wasmd/config/config.toml
  packages/testcontainers/wasmd/config/genesis.json
  packages/testcontainers/wasmd/config/priv_validator_key.json
  packages/testcontainers/wasmd/data/priv_validator_state.json
Labels: s/chore, a/examples

#642 feat: utility methods for testcontainers
  packages/testcontainers/src/container.ts
  packages/testcontainers/src/satlayer.test.ts
  packages/testcontainers/src/satlayer.ts
Labels: s/feat

#604 feat: bvs-guardrail
  crates/Cargo.lock
  crates/Cargo.toml
  crates/bvs-guardrail/Cargo.toml
  crates/bvs-guardrail/README.md
  crates/bvs-guardrail/package.json
  crates/bvs-guardrail/src/bin/schema.rs
  crates/bvs-guardrail/src/contract.rs
  crates/bvs-guardrail/src/error.rs
  crates/bvs-guardrail/src/lib.rs
  crates/bvs-guardrail/src/msg.rs
  crates/bvs-guardrail/src/state.rs
  crates/bvs-guardrail/src/testing.rs
  crates/bvs-guardrail/tests/integration_test.rs
  crates/bvs-vault-router/src/state.rs
  crates/crates.iml
  docs/app/contracts/_meta.ts
  docs/app/contracts/guardrail/page.md
  modules/cosmwasm-schema/generate.mjs
  modules/cosmwasm-schema/guardrail/schema.go
  modules/cosmwasm-schema/package.json
  packages/cosmwasm-schema/generate.mjs
  packages/cosmwasm-schema/guardrail.d.ts
  packages/cosmwasm-schema/package.json
  pnpm-lock.yaml
Labels: s/feat, a/crates, a/docs, a/modules/cosmwasm-schema

#629 chore(examples): squaring service
  examples/package.json
  examples/squaring/README.mdx
  examples/squaring/service/package.json
  examples/squaring/service/src/contract.ts
  examples/squaring/service/src/squaring.test.ts
  examples/squaring/service/src/squaring.ts
  modules/package.json
  packages/testcontainers/src/container.test.ts
  packages/testcontainers/src/container.ts
  packages/testcontainers/src/satlayer.ts
  pnpm-lock.yaml
Labels: s/chore, a/examples

#643 feat: store service in slash request + impl partialEq
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/state.rs
  crates/bvs-vault-router/tests/integration_test.rs
  modules/cosmwasm-schema/vault-router/schema.go
  packages/cosmwasm-schema/vault-router.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#640 feat: integrate tokenized vault to factory
  crates/Cargo.lock
  crates/Cargo.toml
  crates/bvs-vault-bank-tokenized/src/contract.rs
  crates/bvs-vault-bank-tokenized/src/msg.rs
  crates/bvs-vault-bank-tokenized/src/testing.rs
  crates/bvs-vault-bank-tokenized/tests/integration_test.rs
  crates/bvs-vault-cw20-tokenized/src/contract.rs
  crates/bvs-vault-cw20-tokenized/src/msg.rs
  crates/bvs-vault-cw20-tokenized/src/testing.rs
  crates/bvs-vault-cw20-tokenized/tests/integration_test.rs
  crates/bvs-vault-factory/Cargo.toml
  crates/bvs-vault-factory/src/contract.rs
  crates/bvs-vault-factory/src/msg.rs
  crates/bvs-vault-factory/src/state.rs
  crates/bvs-vault-factory/tests/integration_test.rs
  modules/cosmwasm-schema/vault-bank-tokenized/schema.go
  modules/cosmwasm-schema/vault-cw20-tokenized/schema.go
  modules/cosmwasm-schema/vault-factory/schema.go
  packages/cosmwasm-schema/vault-bank-tokenized.d.ts
  packages/cosmwasm-schema/vault-cw20-tokenized.d.ts
  packages/cosmwasm-schema/vault-factory.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#644 feat: store request_resolution in slash request
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/state.rs
  crates/bvs-vault-router/tests/integration_test.rs
  modules/cosmwasm-schema/vault-router/schema.go
  packages/cosmwasm-schema/vault-router.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#645 chore(workflows): set DOCKER_CACHE_FROM for all workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: s/chore

#650 feat: Return AssetType and AssetReference in VaultInfoResponse and move SlashingRequestId to bvs-library
  crates/Cargo.lock
  crates/bvs-guardrail/Cargo.toml
  crates/bvs-guardrail/src/contract.rs
  crates/bvs-guardrail/src/msg.rs
  crates/bvs-guardrail/src/state.rs
  crates/bvs-guardrail/tests/integration_test.rs
  crates/bvs-library/Cargo.toml
  crates/bvs-library/src/lib.rs
  crates/bvs-library/src/slashing.rs
  crates/bvs-vault-bank-tokenized/src/contract.rs
  crates/bvs-vault-bank-tokenized/tests/integration_test.rs
  crates/bvs-vault-bank/src/contract.rs
  crates/bvs-vault-bank/tests/integration_test.rs
  crates/bvs-vault-base/src/msg.rs
  crates/bvs-vault-cw20-tokenized/src/contract.rs
  crates/bvs-vault-cw20-tokenized/tests/integration_test.rs
  crates/bvs-vault-cw20/src/contract.rs
  crates/bvs-vault-cw20/tests/integration_test.rs
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/msg.rs
  crates/bvs-vault-router/src/state.rs
  modules/cosmwasm-schema/vault-bank-tokenized/schema.go
  modules/cosmwasm-schema/vault-bank/schema.go
  modules/cosmwasm-schema/vault-cw20-tokenized/schema.go
  modules/cosmwasm-schema/vault-cw20/schema.go
  packages/cosmwasm-schema/vault-bank-tokenized.d.ts
  packages/cosmwasm-schema/vault-bank.d.ts
  packages/cosmwasm-schema/vault-cw20-tokenized.d.ts
  packages/cosmwasm-schema/vault-cw20.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#623 feat: cancel resolved slashing request
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/msg.rs
  crates/bvs-vault-router/src/state.rs
  crates/bvs-vault-router/tests/integration_test.rs
  modules/cosmwasm-schema/vault-router/schema.go
  packages/cosmwasm-schema/vault-router.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#652 chore: fix import
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/tests/integration_test.rs
Labels: s/chore, a/crates

#654 fix: use app.execute_contract instead
  crates/bvs-library/src/testing/contract.rs
  crates/bvs-vault-router/tests/integration_test.rs
Labels: s/fix, a/crates

#655 chore(docs): add whitepaper
  docs/public/assets/whitepaper.pdf
Labels: s/chore, a/docs

#653 fix: implicit slash cancellations
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/state.rs
  crates/bvs-vault-router/tests/integration_test.rs
Labels: s/fix, a/crates

#651 feat: finalize slashing
  crates/Cargo.lock
  crates/bvs-guardrail/src/testing.rs
  crates/bvs-library/src/testing/contract.rs
  crates/bvs-multi-test/Cargo.toml
  crates/bvs-multi-test/src/lib.rs
  crates/bvs-vault-router/Cargo.toml
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/msg.rs
  crates/bvs-vault-router/src/state.rs
  crates/bvs-vault-router/src/testing.rs
  crates/bvs-vault-router/tests/integration_test.rs
  modules/cosmwasm-schema/vault-router/schema.go
  packages/cosmwasm-schema/vault-router.d.ts
  packages/testcontainers/package.json
  packages/testcontainers/src/bvs.ts
  packages/testcontainers/src/satlayer.ts
  pnpm-lock.yaml
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#661 chore: indexed map key SlashRequestId be referenced instead of own value
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/state.rs
Labels: s/chore, a/crates

#663 chore: additional utility for testcontainers
  packages/testcontainers/package.json
  packages/testcontainers/src/container.ts
  pnpm-lock.yaml
Labels: s/chore

#667 chore: return guardrail in testcontainers contracts
  packages/testcontainers/src/container.ts
  packages/testcontainers/src/satlayer.ts
Labels: s/fix

#668 chore(docs): inconsistent resolution_window value
  docs/app/getting-started/slashing/page.mdx
Labels: s/chore, a/docs

#669 feat: deploy tokenized vaults in testcontainers
  packages/testcontainers/package.json
  packages/testcontainers/src/bvs.ts
  packages/testcontainers/src/satlayer.test.ts
  packages/testcontainers/src/satlayer.ts
  pnpm-lock.yaml
Labels: s/feat

#670 chore: update contracts codeId for tokenized vaults
  packages/testcontainers/src/satlayer.ts
Labels: s/chore

#671 fix: add 7 days const to request expiry
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/state.rs
  crates/bvs-vault-router/tests/integration_test.rs
  docs/app/getting-started/slashing/page.mdx
  modules/cosmwasm-schema/vault-router/schema.go
  packages/cosmwasm-schema/vault-router.d.ts
Labels: s/fix, a/crates, a/docs, a/modules/cosmwasm-schema

#678 chore(release): publish additional crates for v2
  .github/workflows/release.yml
Labels: s/chore

#679 feat: add rewards to testcontainers
  packages/testcontainers/package.json
  packages/testcontainers/src/bvs.ts
  packages/testcontainers/src/satlayer.ts
  pnpm-lock.yaml
Labels: s/feat

#680 chore: `packages/cosmwasm-schema` to generate as `*.ts` instead of `*.d.ts`
  packages/cosmwasm-schema/.gitignore
  packages/cosmwasm-schema/generate.mjs
  packages/cosmwasm-schema/guardrail.ts
  packages/cosmwasm-schema/index.ts
  packages/cosmwasm-schema/package.json
  packages/cosmwasm-schema/pauser.ts
  packages/cosmwasm-schema/registry.ts
  packages/cosmwasm-schema/rewards.ts
  packages/cosmwasm-schema/tsconfig.json
  packages/cosmwasm-schema/turbo.json
  packages/cosmwasm-schema/vault-bank-tokenized.ts
  packages/cosmwasm-schema/vault-bank.ts
  packages/cosmwasm-schema/vault-cw20-tokenized.ts
  packages/cosmwasm-schema/vault-cw20.ts
  packages/cosmwasm-schema/vault-factory.ts
  packages/cosmwasm-schema/vault-router.ts
Labels: s/chore

#681 chore: update rewards proof to return hex string
  modules/cosmwasm-cli/cmd/rewards.go
Labels: s/chore

#684 chore: documented all `pub fn migrate`
  crates/bvs-guardrail/src/contract.rs
  crates/bvs-guardrail/src/msg.rs
  crates/bvs-pauser/src/contract.rs
  crates/bvs-pauser/src/msg.rs
  crates/bvs-registry/src/contract.rs
  crates/bvs-rewards/src/contract.rs
  crates/bvs-rewards/src/msg.rs
  crates/bvs-vault-bank-tokenized/src/contract.rs
  crates/bvs-vault-bank/src/contract.rs
  crates/bvs-vault-cw20-tokenized/src/contract.rs
  crates/bvs-vault-cw20/src/contract.rs
  crates/bvs-vault-factory/src/contract.rs
  crates/bvs-vault-factory/src/msg.rs
Labels: s/chore, a/crates

#685 fix: update rewards contract leaf hash to double hash
  crates/bvs-rewards/src/merkle.rs
  modules/cosmwasm-cli/cmd/rewards.go
Labels: s/fix, a/crates

#690 chore(docs): example README typo
  examples/squaring/README.mdx
Labels: s/chore, a/examples

#689 chore: throw error when bips is zero
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/tests/integration_test.rs
Labels: s/chore, a/crates

#692 chore(release): use statically generated cli package to allow local usage
  .github/workflows/release.yml
  packages/cli/README.md
  packages/cli/cli-darwin-arm64/package.json
  packages/cli/cli-darwin-x64/package.json
  packages/cli/cli-linux-arm64/package.json
  packages/cli/cli-linux-x64/package.json
  packages/cli/cli-win32-arm64/package.json
  packages/cli/cli-win32-x64/package.json
  packages/cli/package.js
  packages/cli/package.json
  packages/cli/turbo.json
  pnpm-lock.yaml
Labels: s/chore

#693 chore: use commonjs for package.js
  packages/cli/package.js
Labels: s/chore
