Repository satlayer/satlayer-bvs, pull requests merged in 2025-04, with the labels that each got.

#511 chore(docs): rename cosmwasm-contracts to babylon-contracts
  crates/README.md
  docs/app/babylon-contracts/_meta.ts
  docs/app/babylon-contracts/library/page.md
  docs/app/babylon-contracts/page.md
  docs/app/babylon-contracts/pauser/page.md
  docs/app/babylon-contracts/registry/page.md
  docs/app/babylon-contracts/runbook/page.mdx
  docs/app/babylon-contracts/vault-bank/page.md
  docs/app/babylon-contracts/vault-cw20/page.md
  docs/app/babylon-contracts/vault-router/page.md
  docs/turbo.json
Labels: s/chore, a/crates, a/docs

#517 chore: verify cosmwasm-schema has not drifted
  .github/workflows/ci.yml
  examples/squaring/modules/go.mod
  modules/go.mod
Labels: s/chore, a/examples

#512 chore(docs): babylon audit reports
  docs/app/_meta.ts
  docs/app/audited-by/_meta.ts
  docs/public/audits/satlayer-core-phase-1-coinspect-20250404.pdf
  docs/public/audits/satlayer-core-phase-1-dedaub-20250325.pdf
Labels: s/chore, a/docs

#529 feat: clippy fixes for all vault stacks - base, bank, cw20
  crates/bvs-vault-bank/src/contract.rs
  crates/bvs-vault-bank/tests/integration_test.rs
  crates/bvs-vault-base/src/router.rs
  crates/bvs-vault-cw20/tests/integration_test.rs
Labels: s/feat, a/crates

#532 chore: fixes and document migration and set_vault
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/tests/integration_test.rs
Labels: s/chore, a/crates

#495 feat: support get vaults by operator in bvs-router
  crates/bvs-vault-router/Cargo.toml
  crates/bvs-vault-router/src/contract.rs
  crates/bvs-vault-router/src/msg.rs
  crates/bvs-vault-router/src/state.rs
  crates/bvs-vault-router/tests/integration_test.rs
  modules/cosmwasm-schema/vault-router/schema.go
  packages/cosmwasm-schema/vault-router.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#533 chore: run `cargo clippy --fix` on CI
  .github/workflows/ci.yml
  crates/bvs-library/src/testing/account.rs
  crates/bvs-pauser/src/contract.rs
  crates/bvs-pauser/src/msg.rs
  crates/bvs-pauser/tests/integration_tests.rs
  crates/bvs-registry/src/state.rs
  crates/bvs-registry/tests/integration_test.rs
  crates/bvs-slash-manager/src/contract.rs
  crates/bvs-vault-router/tests/integration_test.rs
Labels: s/chore, a/crates

#534 chore: allow clippy --fix to run when dirty
  .github/workflows/ci.yml
Labels: s/chore

#547 chore: remove deprecated slash-manager
  crates/Cargo.lock
  crates/Cargo.toml
  crates/bvs-slash-manager/Cargo.toml
  crates/bvs-slash-manager/package.json
  crates/bvs-slash-manager/src/auth.rs
  crates/bvs-slash-manager/src/bin/schema.rs
  crates/bvs-slash-manager/src/contract.rs
  crates/bvs-slash-manager/src/error.rs
  crates/bvs-slash-manager/src/lib.rs
  crates/bvs-slash-manager/src/msg.rs
  crates/bvs-slash-manager/src/query.rs
  crates/bvs-slash-manager/src/state.rs
  crates/bvs-slash-manager/src/utils.rs
  pnpm-lock.yaml
Labels: s/chore, a/crates

#548 chore: remove clang in cosmwasm-optimizer
  packages/cosmwasm-optimizer/Dockerfile
Labels: s/chore

#481 feat: bvs-rewards contract + rewards cli command
  .idea/satlayer-bvs.iml
  crates/Cargo.lock
  crates/Cargo.toml
  crates/bvs-rewards/Cargo.toml
  crates/bvs-rewards/package.json
  crates/bvs-rewards/src/bin/schema.rs
  crates/bvs-rewards/src/contract.rs
  crates/bvs-rewards/src/error.rs
  crates/bvs-rewards/src/lib.rs
  crates/bvs-rewards/src/merkle.rs
  crates/bvs-rewards/src/msg.rs
  crates/bvs-rewards/src/state.rs
  crates/bvs-rewards/src/testing.rs
  crates/bvs-rewards/tests/integration_test.rs
  crates/crates.iml
  modules/cosmwasm-cli/cmd/rewards.go
  modules/cosmwasm-cli/cmd/root.go
  modules/cosmwasm-schema/generate.mjs
  modules/cosmwasm-schema/package.json
  modules/cosmwasm-schema/rewards/schema.go
  modules/go.mod
  modules/go.sum
  packages/cosmwasm-schema/generate.mjs
  packages/cosmwasm-schema/package.json
  packages/cosmwasm-schema/rewards.d.ts
  pnpm-lock.yaml
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#542 feat: migrate registry REGISTRATION_STATUS to use SnapshotMap
  crates/bvs-library/src/testing/contract.rs
  crates/bvs-registry/src/contract.rs
  crates/bvs-registry/src/lib.rs
  crates/bvs-registry/src/msg.rs
  crates/bvs-registry/src/state.rs
  crates/bvs-registry/src/testing.rs
  crates/bvs-registry/tests/integration_test.rs
  modules/cosmwasm-schema/registry/schema.go
  packages/cosmwasm-schema/registry.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#551 chore: update docs for core contracts
  .idea/.gitignore
  .prettierignore
  crates/README.md
  crates/bvs-library/README.md
  crates/bvs-pauser/README.md
  crates/bvs-registry/README.md
  crates/bvs-rewards/README.mdx
  crates/bvs-vault-bank/README.md
  crates/bvs-vault-base/README.md
  crates/bvs-vault-base/README.mdx
  crates/bvs-vault-cw20/README.md
  crates/bvs-vault-factory/README.md
  crates/bvs-vault-router/README.md
  docs/app/architecture/_meta.ts
  docs/app/contracts/_meta.ts
  docs/app/contracts/rewards/page.mdx
  docs/app/contracts/vault-base/page.mdx
  docs/app/page.mdx
  docs/package.json
  examples/squaring/README.md
Labels: s/chore, a/crates, a/examples, a/docs

#552 chore: document vault design
  .prettierignore
  docs/app/architecture/vaults/page.mdx
  docs/app/icon.svg
  docs/tailwind.config.ts
Labels: s/chore, a/docs

#550 feat: enable/disable slashing and opt in to slashing
  crates/bvs-library/src/lib.rs
  crates/bvs-library/src/time.rs
  crates/bvs-registry/src/contract.rs
  crates/bvs-registry/src/error.rs
  crates/bvs-registry/src/lib.rs
  crates/bvs-registry/src/msg.rs
  crates/bvs-registry/src/state.rs
  crates/bvs-registry/tests/integration_test.rs
  modules/cosmwasm-schema/registry/schema.go
  packages/cosmwasm-schema/registry.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#553 chore: document Registration status
  crates/bvs-registry/src/msg.rs
  crates/bvs-registry/src/state.rs
  modules/cosmwasm-schema/registry/schema.go
  packages/cosmwasm-schema/registry.d.ts
Labels: s/chore, a/crates, a/modules/cosmwasm-schema

#558 chore: architecture docs for service and operators
  docs/app/architecture/_meta.ts
  docs/app/architecture/operators/page.mdx
  docs/app/architecture/rewards/page.md
  docs/app/architecture/rewards/page.mdx
  docs/app/architecture/services-and-operators/page.mdx
  docs/app/architecture/services/page.mdx
  docs/app/architecture/slashing/page.md
  docs/app/architecture/slashing/page.mdx
  docs/app/layout.tsx
Labels: s/chore, a/docs

#561 feat: refactor snapshot to use timestamp instead of height
  crates/bvs-library/src/lib.rs
  crates/bvs-library/src/storage.rs
  crates/bvs-registry/src/contract.rs
  crates/bvs-registry/src/msg.rs
  crates/bvs-registry/src/state.rs
  crates/bvs-registry/tests/integration_test.rs
  modules/cosmwasm-schema/registry/schema.go
  packages/cosmwasm-schema/registry.d.ts
Labels: s/feat, a/crates, a/modules/cosmwasm-schema

#562 chore: separate storage logic from `VirtualOffset` into `TotalShares`
  crates/bvs-vault-bank/src/contract.rs
  crates/bvs-vault-base/src/offset.rs
  crates/bvs-vault-cw20/src/contract.rs
Labels: s/chore, a/crates

#570 chore(docs): BVS Developer / CosmWasm Contract
  docs/app/contracts/_meta.ts
  docs/app/contracts/runbook/page.mdx
  docs/app/developers/_meta.ts
  docs/app/developers/cosmwasm/_meta.ts
  docs/app/developers/cosmwasm/deploying/page.mdx
  docs/app/developers/cosmwasm/installation/page.mdx
  docs/app/developers/cosmwasm/integrating/page.mdx
  docs/app/developers/cosmwasm/page.mdx
  docs/app/developers/cosmwasm/project-structure/page.mdx
  docs/app/developers/cosmwasm/upgrading/page.mdx
  docs/app/developers/developing/deploying/page.mdx
  docs/app/developers/developing/installation/page.mdx
  docs/app/developers/developing/structuring/page.mdx
  docs/app/developers/overview/page.mdx
  docs/app/layout.tsx
  docs/package.json
  pnpm-lock.yaml
Labels: s/chore, a/docs
