Repository satlayer/satlayer-bvs, pull requests merged in 2025-08, with the labels that each got.

#911 chore: bind _msgSender() to address and remove single use var binding in loop
  contracts/src/SLAYRegistryV2.sol
Labels: s/chore, a/contracts

#918 chore: minor gas optimization for setWithdrawalDelay
  contracts/src/SLAYRegistryV2.sol
Labels: s/chore, a/contracts

#869 chore: additional test cases for merkle proof
  contracts/test/MerkleProof.t.sol
Labels: s/chore, a/contracts

#926 chore: add getSlashingRequestId to SLAYRouter
  contracts/src/SLAYRouterV2.sol
  contracts/src/interface/ISLAYRouterSlashingV2.sol
Labels: s/chore, a/contracts

#929 chore: fix anvil mine interval
  packages/testcontainers/src/anvil-container.test.ts
  packages/testcontainers/src/anvil-container.ts
Labels: s/chore

#934 chore: update README.md to point to docs correctly
  README.md
Labels: s/chore

#938 fix: cargo lint error due to elided lifetime
  crates/bvs-library/src/slashing.rs
  pnpm-lock.yaml
Labels: s/fix, a/crates

#940 chore: upgrade pragma to 0.8.24
  contracts/script/Deployment.s.sol
  contracts/script/SLAYNet.s.sol
  contracts/src/MerkleProof.sol
  contracts/src/RelationshipV2.sol
  contracts/src/SLAYBase.sol
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYRewardsV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultFactoryV2.sol
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYRegistryV2.sol
  contracts/src/interface/ISLAYRewardsV2.sol
  contracts/src/interface/ISLAYRouterSlashingV2.sol
  contracts/src/interface/ISLAYRouterV2.sol
  contracts/src/interface/ISLAYVaultFactoryV2.sol
  contracts/src/interface/ISLAYVaultV2.sol
  contracts/test/MerkleProof.t.sol
  contracts/test/MockERC20.sol
  contracts/test/MockGuardrail.sol
  contracts/test/RelationshipV2.t.sol
  contracts/test/SLAYBase.t.sol
  contracts/test/SLAYRegistryV2.t.sol
  contracts/test/SLAYRewardsV2.t.sol
  contracts/test/SLAYRouterV2.t.sol
  contracts/test/SLAYVaultFactoryV2.t.sol
  contracts/test/SLAYVaultV2.gas.t.sol
  contracts/test/SLAYVaultV2.t.sol
  contracts/test/TestSuiteV2.sol
  examples/cw/layerzero-dvn/foundry.toml
  examples/cw/layerzero-dvn/src/evm/contracts/CustomDVN.sol
  examples/cw/layerzero-dvn/src/evm/contracts/SimpleOApp.sol
  examples/evm/layerzero-dvn/foundry.toml
  examples/evm/layerzero-dvn/src/contracts/BVS.sol
  examples/evm/layerzero-dvn/src/contracts/CustomDVN.sol
  examples/evm/layerzero-dvn/src/contracts/SimpleOApp.sol
  examples/evm/layerzero-dvn/src/contracts/interface/IBVS.sol
Labels: s/chore, a/examples, a/contracts

#941 chore: fix advisory audit issues
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/interface/ISLAYRegistryV2.sol
  contracts/src/interface/ISLAYRouterSlashingV2.sol
  contracts/test/SLAYRegistryV2.t.sol
  contracts/test/SLAYRouterV2.t.sol
  docs/app/architecture/slashing/page.mdx
Labels: s/chore, a/docs, a/contracts

#947 chore(docs): add token audit report
  docs/app/audited-by/_meta.ts
  docs/public/audits/satlayer-evm-dedaub-20250809.pdf
  docs/public/audits/satlayer-token-dedaub-20250616.pdf
Labels: s/chore, a/docs

#952 chore(docs): document @satlayer/contracts
  contracts/README.md
Labels: s/chore, a/contracts

#956 chore: deploy SLAY V2 contracts on Sepolia
  contracts/broadcast/Deployment.s.sol/11155111/run-1755066919.json
  contracts/broadcast/Deployment.s.sol/11155111/run-1755089450.json
  contracts/broadcast/Deployment.s.sol/11155111/run-latest.json
  contracts/foundry.toml
  contracts/script/Deployment.s.sol
  contracts/script/SLAYNet.s.sol
  docs/app/evm/_meta.ts
  docs/app/evm/deployed/page.mdx
Labels: s/chore, a/docs, a/contracts

#959 chore: add integrating with EVM docs
  docs/app/cosmwasm/developer/integrating/page.mdx
  docs/app/cosmwasm/developer/page.mdx
  docs/app/evm/_meta.ts
  docs/app/evm/developer/_meta.ts
  docs/app/evm/developer/deploying/page.mdx
  docs/app/evm/developer/installation/page.mdx
  docs/app/evm/developer/integrating/page.mdx
  docs/app/evm/developer/page.mdx
Labels: s/chore, a/docs

#915 feat: squaring example
  docs/app/evm/examples/squaring/page.md
  examples/evm/squaring/.gitignore
  examples/evm/squaring/README.md
  examples/evm/squaring/foundry.toml
  examples/evm/squaring/package.json
  examples/evm/squaring/remappings.txt
  examples/evm/squaring/src/BVS.sol
  examples/evm/squaring/src/squaring.test.ts
  examples/evm/squaring/src/squaring.ts
  examples/evm/squaring/test/BVS.t.sol
  examples/evm/squaring/test/MockERC20.sol
  examples/evm/squaring/test/TestSuite.t.sol
  examples/evm/squaring/tsconfig.json
  examples/evm/squaring/turbo.json
  pnpm-lock.yaml
Labels: s/feat, a/examples, a/docs

#985 feat: basic lifecycle scripts for sepolia
  contracts/script/Sepolia.sol
Labels: s/feat, a/contracts
