Repository satlayer/satlayer-bvs, pull requests merged in 2025-07, with the labels that each got.

#781 chore: only allow self or operator to withdraw
  contracts/src/SLAYVault.sol
  contracts/test/SLAYVault.t.sol
Labels: s/chore

#782 chore(workflow): auto labeling for a/contracts
  .github/release-drafter.yml
  .github/release-labeling.yml
Labels: s/chore

#783 chore(workflows): auto categorize dependencies
  .github/release-drafter.yml
Labels: s/chore

#788 chore: move Registration logic to Relationship.sol
  contracts/src/Relationship.sol
  contracts/src/SLAYRegistry.sol
  contracts/src/interface/ISLAYRegistry.sol
  contracts/test/SLAYRegistry.t.sol
Labels: s/chore, a/contracts

#793 feat: enable/disable slashing for service
  contracts/script/Deployment.s.sol
  contracts/src/SLAYRegistry.sol
  contracts/src/interface/ISLAYRegistry.sol
  contracts/test/SLAYRegistry.t.sol
  contracts/test/TestSuite.sol
Labels: s/feat, a/contracts

#794 feat: max active relationship in evm registry
  contracts/src/SLAYRegistry.sol
  contracts/src/interface/ISLAYRegistry.sol
  contracts/test/SLAYRegistry.t.sol
Labels: s/chore, a/contracts

#798 feat: timestamped slashing parameter query for a service operator pair
  contracts/src/SLAYRegistry.sol
  contracts/src/interface/ISLAYRegistry.sol
  contracts/test/SLAYRegistry.t.sol
Labels: s/feat, a/contracts

#799 chore: rename enableSlashing(address) to approveSlashingFor(address)
  contracts/src/Relationship.sol
  contracts/src/SLAYRegistry.sol
  contracts/src/interface/ISLAYRegistry.sol
  contracts/test/SLAYRegistry.t.sol
Labels: s/chore, a/contracts

#800 chore: allow variable withdrawal delay for service and operator
  contracts/src/SLAYRegistry.sol
  contracts/src/interface/ISLAYRegistry.sol
  contracts/test/SLAYRegistry.t.sol
Labels: s/chore, a/contracts

#803 chore(docs): NatSpec comments for contracts
  contracts/src/InitialImpl.sol
  contracts/src/RelationshipV2.sol
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultFactoryV2.sol
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYRegistryV2.sol
  contracts/src/interface/ISLAYRouterV2.sol
  contracts/src/interface/ISLAYVaultFactoryV2.sol
  contracts/src/interface/ISLAYVaultV2.sol
Labels: s/chore, a/contracts

#804 feat: max vaults per operator
  contracts/script/Deployment.s.sol
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYRouterV2.sol
  contracts/src/interface/ISLAYVaultV2.sol
  contracts/test/SLAYRouterV2.t.sol
  contracts/test/TestSuiteV2.sol
Labels: s/feat, a/contracts

#805 chore: contracts housekeeping and minor cleanup
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultFactoryV2.sol
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/IERC7540.sol
  contracts/src/interface/ISLAYRouterV2.sol
  contracts/src/interface/ISLAYVaultV2.sol
  contracts/test/SLAYRouterV2.t.sol
  contracts/test/SLAYVaultV2.t.sol
Labels: s/chore, a/contracts

#809 feat: add slashLock to Vault
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYVaultV2.sol
  contracts/test/SLAYVaultV2.t.sol
Labels: s/feat, a/contracts

#813 chore: slashing request foundation
  contracts/src/SLAYRouterV2.sol
  contracts/src/interface/ISLAYSlashingV2.sol
  contracts/test/SLAYRouterV2.t.sol
Labels: s/chore, a/contracts

#815 chore: refactor "non-null" checks for pending Slashing Requests
  contracts/src/SLAYRouterV2.sol
  contracts/src/interface/ISLAYSlashingV2.sol
Labels: s/chore, a/contracts

#822 chore: refactor lock slashing
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYSlashingV2.sol
  contracts/src/interface/ISLAYVaultV2.sol
  contracts/test/SLAYVaultV2.t.sol
Labels: s/chore, a/contracts

#830 chore: use Payload calldata payload for requestSlashing
  contracts/src/SLAYRouterV2.sol
  contracts/src/interface/ISLAYRouterSlashingV2.sol
  contracts/test/SLAYRouterV2.t.sol
Labels: s/chore, a/contracts

#824 feat: finalize slashing in router
  contracts/src/SLAYRouterV2.sol
  contracts/src/interface/ISLAYRouterSlashingV2.sol
  contracts/src/interface/ISLAYRouterV2.sol
  contracts/test/SLAYRouterV2.t.sol
Labels: s/feat, a/contracts

#820 chore: tests for slashing request
  contracts/test/SLAYRouterV2.t.sol
Labels: s/chore, a/contracts

#834 feat: cancel slashing
  contracts/src/SLAYRouterV2.sol
  contracts/src/interface/ISLAYRouterSlashingV2.sol
  contracts/test/SLAYRouterV2.t.sol
Labels: s/feat, a/contracts

#839 chore: document and refactoring of SLAYBase and RelationshipV2
  contracts/src/RelationshipV2.sol
  contracts/src/SLAYBase.sol
  contracts/test/RelationshipV2.t.sol
  contracts/test/SLAYBase.t.sol
Labels: s/chore, a/contracts

#840 chore: document and refactor SLAYVaultFactory
  contracts/script/Deployment.s.sol
  contracts/src/SLAYBase.sol
  contracts/src/SLAYVaultFactoryV2.sol
  contracts/src/interface/ISLAYVaultFactoryV2.sol
  contracts/test/SLAYVaultFactoryV2.t.sol
  contracts/test/TestSuiteV2.sol
Labels: s/chore, a/contracts

#842 chore: document and refactor SLAYRegistry
  contracts/src/SLAYRegistryV2.sol
  contracts/src/interface/ISLAYRegistryV2.sol
  contracts/test/SLAYRegistryV2.t.sol
Labels: s/chore, a/contracts

#845 chore: document and refactoring of SLAYVault
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYVaultV2.sol
  contracts/test/SLAYVaultV2.t.sol
Labels: s/chore, a/contracts

#846 chore: document and refactor SLAYRouter
  contracts/src/SLAYRouterV2.sol
  contracts/src/interface/ISLAYRouterSlashingV2.sol
  contracts/src/interface/ISLAYRouterV2.sol
  contracts/test/SLAYRouterV2.t.sol
Labels: s/chore, a/contracts

#841 chore: update merkle rewards hashing to keccak256
  contracts/src/MerkleProof.sol
  contracts/test/MerkleProof.t.sol
  crates/bvs-rewards/src/merkle.rs
  crates/bvs-rewards/src/testing.rs
  crates/bvs-rewards/tests/integration_test.rs
  modules/cosmwasm-cli/cmd/rewards.go
Labels: s/chore, a/crates, a/contracts

#853 chore(deps): update @openzeppelin dependencies together
  .github/dependabot.yml
Labels: s/chore

#857 chore: document MerkleProof.sol
  contracts/src/MerkleProof.sol
Labels: s/chore, a/contracts

#858 feat: CD of SLAY contracts to SLAYNet
  .github/actions/setup/action.yml
  .github/workflows/slaynet.yml
  contracts/foundry.toml
  contracts/script/Deployment.s.sol
Labels: s/feat, a/contracts

#871 chore: document behavior of warnings in ERC4626Upgradeable
  contracts/src/SLAYVaultV2.sol
  contracts/test/RelationshipV2.t.sol
  contracts/test/SLAYRouterV2.t.sol
  contracts/test/SLAYVaultFactoryV2.t.sol
Labels: s/chore, a/contracts

#870 feat: SLAYRewards for EVM
  contracts/src/SLAYRewardsV2.sol
  contracts/src/interface/ISLAYRewardsV2.sol
  contracts/test/MerkleProof.t.sol
  contracts/test/SLAYRewardsV2.t.sol
  contracts/test/TestSuiteV2.sol
Labels: s/feat, a/contracts

#876 chore: fix forge lint warnings
  contracts/foundry.toml
  contracts/snapshots/RelationshipV2.json
  contracts/snapshots/SlashingRequestId.json
  contracts/src/RelationshipV2.sol
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultFactoryV2.sol
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYRouterSlashingV2.sol
  contracts/src/interface/ISLAYRouterV2.sol
  contracts/src/interface/ISLAYVaultFactoryV2.sol
  contracts/test/RelationshipV2.t.sol
  contracts/test/SLAYRouterV2.t.sol
  contracts/test/SLAYVaultFactoryV2.t.sol
Labels: s/chore, a/contracts

#877 chore: add whenNotPaused to vault fns
  contracts/src/SLAYVaultV2.sol
Labels: s/chore, a/contracts

#879 chore: fix forge lint warning
  contracts/src/SLAYRewardsV2.sol
  contracts/src/interface/ISLAYRouterSlashingV2.sol
Labels: s/chore, a/contracts

#867 chore: dedicated test for gas snapshot
  contracts/snapshots/RelationshipV2.json
  contracts/snapshots/SlashingRequestId.json
  contracts/test/SLAYVaultV2.gas.t.sol
Labels: s/chore, a/contracts

#884 chore(gas): remove public isWhitelisted fn from vault
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYVaultV2.sol
  contracts/test/SLAYVaultV2.t.sol
Labels: s/chore, a/contracts

#887 chore(gas): clean up gas snapshot
  contracts/snapshots/RelationshipV2.json
  contracts/snapshots/SLAYVaultV2.json
  contracts/snapshots/SlashingRequestId.json
  contracts/test/SLAYVaultV2.gas.t.sol
Labels: s/chore, a/contracts

#885 chore: refactor SLAY contracts to use ownable2step
  contracts/src/SLAYBase.sol
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYRewardsV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultFactoryV2.sol
  contracts/test/SLAYBase.t.sol
  contracts/test/SLAYVaultFactoryV2.t.sol
Labels: s/chore, a/contracts

#893 chore: properly document access control
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYRewardsV2.sol
Labels: s/chore, a/contracts

#892 chore: cleanup whenNotPaused usage
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYVaultFactoryV2.sol
  contracts/test/SLAYVaultFactoryV2.t.sol
Labels: s/chore, a/contracts

#896 chore: overall contract safety refactoring
  contracts/script/SLAYNet.s.sol
  contracts/src/SLAYRewardsV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultV2.sol
  contracts/test/MerkleProof.t.sol
  contracts/test/SLAYRouterV2.t.sol
  contracts/test/SLAYVaultV2.gas.t.sol
Labels: s/chore, a/contracts

#898 chore: test and document params usage for contracts
  contracts/src/SLAYRegistryV2.sol
  contracts/src/SLAYRouterV2.sol
  contracts/src/SLAYVaultFactoryV2.sol
  contracts/src/SLAYVaultV2.sol
  contracts/src/interface/ISLAYRegistryV2.sol
  contracts/test/SLAYRouterV2.t.sol
  contracts/test/SLAYVaultV2.t.sol
Labels: s/chore, a/contracts

#909 chore: prefixed CosmWasm contracts in testcontainers
  examples/cw/governance/service/src/reward.test.ts
  examples/cw/governance/service/src/slash.test.ts
  examples/cw/insurance/service/policy-manager.test.ts
  examples/cw/layerzero-dvn/src/lifecycle.test.ts
  examples/cw/squaring/service/src/squaring.test.ts
  packages/testcontainers/src/cosmwasm-artifacts.ts
  packages/testcontainers/src/cosmwasm-cw20.ts
  packages/testcontainers/src/cosmwasm.test.ts
  packages/testcontainers/src/cosmwasm.ts
  packages/testcontainers/src/index.ts
  packages/testcontainers/src/wasmd-container.test.ts
  packages/testcontainers/src/wasmd-container.ts
Labels: s/chore, a/examples

#914 chore: set optimize and evm version
  contracts/foundry.toml
Labels: s/chore, a/contracts
