Repository satlayer/satlayer-bvs, pull requests merged in 2025-09, with the labels that each got.

#995 chore(docs): update deployed contracts links
  docs/app/evm/_meta.ts
  docs/app/evm/deployments/page.mdx
  docs/app/evm/developer/integrating/page.mdx
Labels: s/chore, a/docs

#994 feat: TestSuiteV2.sol and MockERC20 is exposed to package release
  contracts/package.json
  examples/evm/squaring/remappings.txt
  examples/evm/squaring/src/BVS.sol
  examples/evm/squaring/test/BVS.t.sol
  examples/evm/squaring/test/MockERC20.sol
  examples/evm/squaring/test/TestSuite.t.sol
Labels: s/feat, a/examples, a/contracts

#1005 chore: fix initVault + add getter for oracle
  packages/testcontainers/src/evm-contracts.test.ts
  packages/testcontainers/src/evm-contracts.ts
Labels: s/chore

#1012 chore(docs): update README.md in examples
  examples/README.md
Labels: s/chore, a/examples

#1013 chore: fix threshold example + more comments
  examples/evm/threshold-security/src/lifecycle.test.ts
Labels: s/chore, a/examples

#1026 chore(docs): updated BVS Vault Factory address
  crates/README.md
Labels: s/chore, a/crates
